<!-- <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate> -->
  <form>
    <div class="table_container">
  
      <table class="table">
        <thead>
          <tr>
            <th>פרמטרים</th>
            <th>ערוץ 1</th>
            <th>ערוץ 2</th>
            <th>ערוץ 3</th>
            <th>ערוץ 4</th>
            <th>ערוץ 5</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prop of channel.properties">
            <td>{{ prop.name }}</td>
            <td>{{ prop.data }}</td>
            <td>{{ prop.data }}</td>
            <td>{{ prop.data }}</td>
            <td>{{ prop.data }}</td>
            <td>{{ prop.data }}</td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <div class="side_task">
  
      <button class="startRecord" *ngIf="record == false" (click)="startRecord()">התחל הקלטה</button>
      <button class="stopRecord" *ngIf="record == true" (click)="stopRecord()">הפסק הקלטה</button>
      <button class="registerEvent" *ngIf="record == true" type="submit">רישום תיוג</button>
  
    </div>
  </form>
  