<form (ngSubmit)="f.form.valid && registerEvent(f)" #f="ngForm" novalidate>
  <div class="table_container">

    <table class="table">
      <thead>
        <tr>
          <th>פרמטרים</th>
          <th>תיוג (מפעיל)</th>
          <th>סיווג מכונה</th>
          <th>וודאות</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of channel.properties;let index = index;trackBy:trackByIndex;">
          <td>{{ prop.label }}</td>
          <td>
              <input type="text" [ngModel]="" [name]="'user_'+prop.name">
              <input type="hidden" [ngModel]="" [name]="'algo_'+prop.name">
            </td>
          <td>{{ prop.value }}</td>
          <td>{{ prop.conf }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="side_task">

    <textarea placeholder="הערות ..."></textarea>

    <button class="startRecord" *ngIf="record == false" (click)="startRecord(); $event.preventDefault();">התחל הקלטה</button>
    <button class="stopRecord" *ngIf="record == true" (click)="stopRecord(); $event.preventDefault();">הפסק הקלטה</button>
    <button class="registerEvent" *ngIf="record == true" type="submit">רישום תיוג</button>

  </div>
</form>
