<div class="appContainer">

    <nav class="navigation">
        <li><img src="assets/NavyIcon.jpg" /></li>
        <li *ngFor="let channel of channels">
            <a  routerLink="/channel/{{ channel.id }}" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                ערוץ {{ channel.id }}
            </a>
        </li>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">חיזוי מכונה</a></li>
    </nav>
    
    <div class="pageContainer">        
        <router-outlet></router-outlet>
    </div>
</div>